@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Open Sans", sans-serif;
}
html{
    overflow-y: scroll;
}

.active{
    text-decoration: underline;
    font-weight: 600;
    color: #0E7A81;
}
.pagination{
    text-align: center;
    margin-bottom: 20px;
}
.pagination .selected{
    background-color: #0E7A81;

}